@charset "utf-8";

header{
    font-size: 18pt;
    text-align: center;
}

fieldset#civ {
    border-style: none;
    padding: 2px;    
}

fieldset#usuario{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    padding: 2px;
    border-style: none;
    width: 500px;
}

form {
    width: 500px;
    margin: auto;
}