@charset "utf-8";

header{
    font-size: 18pt;
    text-align: center;
}

form {
    width: 500px;
    margin: auto;
}

fieldset#usuario{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    padding: 2px;
    border-style: none;
    width: 700px;
}

fieldset#civ {
    border-style: none;
    padding: 2px;
    
}

p {
    display: inline-block;
}

label {
    width:155px;
    height: 10px;
    display: inline-block;

}

label#mnasc {
    margin-left: 40px;
}

button#reset {
    display: block;
    position: absolute;
    left: 750px;    
}

button#enviar {
    display: block;
    position: absolute;
    left: 540px;
}
